@page
@{
}
@Html.ValidationSummary()
<form action="@Url.Action("Index")" method="post">
    <input type="text" placeholder="Insert user name" name="username" />
    <input type="text" placeholder="Insert password" name="password" />
    <input type="submit" value="Enter" />
</form>
